@import './variables.scss';

.form {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;

  &__label {
    font-size: $formSize / 11;
    color: $colorMainBrown;
    text-transform: lowercase;
    margin-bottom: 3%;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__inputWrap {
    position: relative;
    box-sizing: content-box;
  }

  &__input {
    height: $formSize / 8.3;
    width: 100%;
    margin-bottom: 3%;
    padding: 0 5px;
    box-sizing: border-box;
    font-size: $formSize / 13.33;
    line-height: $formSize / 8.3;

    border: 1px solid $colorMainBrown;

    &:focus {
      border: 2px solid $colorMainBrown;
    }
  }

  &__statusImg {
    width: $formSize / 13.33;
    height: $formSize / 13.33;
    position: absolute;
    top: 40%;
    right: -$formSize / 11.76;
    transform: translateY(-50%);
  }

  &__selectWrap {
    position: relative;

    &:after {
      content: ">";
      position: absolute;
      top: $formSize / 66.67;
      right: 0;
      width: $formSize / 11.11;
      height: $formSize / 11.11;
      font-size: $formSize / 12.5;
      line-height: $formSize / 11.11;
      box-sizing: border-box;
      text-align: center;
      transform: rotateZ(90deg);
      pointer-events: none;
      color: $colorMainBrown;

      border-bottom: 1px solid $colorMainBrown;
    }
  }

  &__select {
    position: relative;
    width: 100%;
    height: $formSize / 8.3;

    margin-bottom: 3%;
    box-sizing: border-box;
    font-size: $formSize / 13.33;
    text-indent: 5px;

    background: none;
    appearance: none;

    border: 1px solid $colorMainBrown;

    &:focus {
      border: 2px solid $colorMainBrown;
    }
  }

  &__button {
    margin-top: 7%;
    box-sizing: border-box;
    font-size: $formSize / 13.33;
    line-height: $formSize / 8.3;

    background-color: $colorMainBrown;
    border: none;
    color: $colorMainGrey;

    transition: 500ms ease;

    &:focus, &:hover {
      color: #fff;
      font-weight: bold;
    }

    &:disabled {
      cursor: not-allowed;
      border: 1px solid $colorMainBrown;
      background-color: #fff;
      color: $colorMainBrown;

      &:hover {
        font-weight: initial;
        color: $colorMainBrown;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .form {
    &__label {
      font-size: $formSize / 11 * 2;
    }

    &__input {
      height: $formSize / 8.3 * 2;
      font-size: $formSize / 13.33 * 2;
      line-height: $formSize / 8.3 * 2;
    }

    &__statusImg {
      width: $formSize / 13.33 * 2;
      height: $formSize / 13.33 * 2;
      right: -$formSize / 11.76 * 2;
    }

    &__selectWrap {
      &:after {
        top: $formSize / 66.67 * 2;
        width: $formSize / 11.11 * 2;
        height: $formSize / 11.11 * 2;
        font-size: $formSize / 12.5 * 2;
        line-height: $formSize / 11.11 * 2;
      }
    }

    &__select {
      height: $formSize / 8.3 * 2;
      font-size: $formSize / 13.33 * 2;
    }

    &__button {
      font-size: $formSize / 13.33 * 2;
      line-height: $formSize / 8.3 * 2;
    }
  }
}

@media screen
and (min-width: 401px)
and (max-width: 700px) {
  .form {
    &__label {
      font-size: $formSize / 11 * 1.7;
    }

    &__input {
      height: $formSize / 8.3 * 1.7;
      font-size: $formSize / 13.33 * 1.7;
      line-height: $formSize / 8.3 * 1.7;
    }

    &__statusImg {
      width: $formSize / 13.33 * 1.7;
      height: $formSize / 13.33 * 1.7;
      right: -$formSize / 11.76 * 1.7;
    }

    &__selectWrap {
      &:after {
        top: $formSize / 66.67 * 1.7;
        width: $formSize / 11.11 * 1.7;
        height: $formSize / 11.11 * 1.7;
        font-size: $formSize / 12.5 * 1.7;
        line-height: $formSize / 11.11 * 1.7;
      }
    }

    &__select {
      height: $formSize / 8.3 * 1.7;
      font-size: $formSize / 13.33 * 1.7;
    }

    &__button {
      font-size: $formSize / 13.33 * 1.7;
      line-height: $formSize / 8.3 * 1.7;
    }
  }
}

@media screen
and (min-width: 701px)
and (max-width: 1024px) {
  .form {
    &__label {
      font-size: $formSize / 11 * 1.4;
    }

    &__input {
      height: $formSize / 8.3 * 1.4;
      font-size: $formSize / 13.33 * 1.4;
      line-height: $formSize / 8.3 * 1.4;
    }

    &__statusImg {
      width: $formSize / 13.33 * 1.4;
      height: $formSize / 13.33 * 1.4;
      right: -$formSize / 11.76 * 1.4;
    }

    &__selectWrap {
      &:after {
        top: $formSize / 66.67 * 1.4;
        width: $formSize / 11.11 * 1.4;
        height: $formSize / 11.11 * 1.4;
        font-size: $formSize / 12.5 * 1.4;
        line-height: $formSize / 11.11 * 1.4;
      }
    }

    &__select {
      height: $formSize / 8.3 * 1.4;
      font-size: $formSize / 13.33 * 1.4;
    }

    &__button {
      font-size: $formSize / 13.33 * 1.4;
      line-height: $formSize / 8.3 * 1.4;
    }
  }
}

@media screen
and (min-width: 1025px)
and (max-width: 1280px) {
  .form {
    &__label {
      font-size: $formSize / 11 * 1.2;
    }

    &__input {
      height: $formSize / 8.3 * 1.2;
      font-size: $formSize / 13.33 * 1.2;
      line-height: $formSize / 8.3 * 1.2;
    }

    &__statusImg {
      width: $formSize / 13.33 * 1.2;
      height: $formSize / 13.33 * 1.2;
      right: -$formSize / 11.76 * 1.2;
    }

    &__selectWrap {
      &:after {
        top: $formSize / 66.67 * 1.2;
        width: $formSize / 11.11 * 1.2;
        height: $formSize / 11.11 * 1.2;
        font-size: $formSize / 12.5 * 1.2;
        line-height: $formSize / 11.11 * 1.2;
      }
    }

    &__select {
      height: $formSize / 8.3 * 1.2;
      font-size: $formSize / 13.33 * 1.2;
    }

    &__button {
      font-size: $formSize / 13.33 * 1.2;
      line-height: $formSize / 8.3 * 1.2;
    }
  }
}

